[submodule "3rdparty/audiofile"]
	path = 3rdparty/audiofile
	url = https://github.com/speccytools/fuse-audiofile
[submodule "3rdparty/libgcrypt"]
	path = 3rdparty/libgcrypt
	url = https://github.com/speccytools/fuse-libgcrypt
[submodule "3rdparty/FuseGenerator"]
	path = 3rdparty/FuseGenerator
	url = https://github.com/speccytools/fuse-generator
[submodule "3rdparty/FuseImporter"]
	path = 3rdparty/FuseImporter
	url = https://github.com/speccytools/fuse-importer
[submodule "3rdparty/libspectrum"]
	path = 3rdparty/libspectrum
	url = https://github.com/speccytools/libspectrum
[submodule "3rdparty/mbedtls"]
	path = 3rdparty/mbedtls
	url = https://github.com/speccytools/fuse-mbedtls
[submodule "3rdparty/libssh2"]
	path = 3rdparty/libssh2
	url = https://github.com/speccytools/libssh2
